
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Raporları Sayfası</h1>
<br />


<br />
<a href="/Excel/ProductExcelReport/" class="btn btn-primary">Ürün Excel Raporları</a>


